In [105]:
import pandas as pd
sichong = pd.read_csv('Top50.csv')
a = sichong.transpose()

# 열 개수(19일:0, 20일:1 )
print(a.shape[1])


ranks, ticker, diff = [], [] ,[] 
for i in range(1,51):
    rank = 0
    if a[n-2][i] != a[n-1][i]:
        yester_rank = a[n-2].values.tolist().index(a[n-1][i])
        rank = yester_rank - i
        
#         print(i, a[0][i], a[1][i], yester_rank-i)
        
    if rank ==0:
        rank = '-'
    elif rank >0 :
        rank = '+'+ str(rank)
    else:
        rank = rank
    ranks.append(i)
    ticker.append(a[n-1][i])
    diff.append(rank)
    
        
#     print(i, a[0][i], a[1][i],rank)
#     print(i, a[1][i],rank)
table0 = {'순위':ranks, '종목명':ticker,'변동':diff}

    
table = pd.DataFrame(data=table0)
# table.to_csv('코스피변동.csv',index = False ,encoding = 'utf-8-sig')
table

2

    순위       종목명  변동
0    1      삼성전자   -
1    2    SK하이닉스   -
2    3      LG화학   -
3    4     삼성전자우   -
4    5       현대차   -
5    6  삼성바이오로직스   -
6    7     삼성SDI  +1
7    8     NAVER  -1
8    9      셀트리온   -
9   10       카카오   -
10  11       기아차   -
11  12     현대모비스   -
12  13      LG전자  +3
13  14      삼성물산  -1
14  15   SK이노베이션  -1
15  16    LG생활건강  -1
16  17     POSCO   -
17  18        SK   -
18  19     엔씨소프트   -
19  20     SK텔레콤   -
20  21      KB금융   -
21  22        LG   -
22  23      신한지주   -
23  24      한국전력   -
24  25      삼성전기  +2
25  26      삼성생명  -1
26  27   삼성에스디에스  -1
27  28    아모레퍼시픽   -
28  29    SK바이오팜   -
29  30    하나금융지주   -
30  31      KT&G   -
31  32       넷마블   -
32  33     롯데케미칼   -
33  34     한온시스템   -
34  35     한화솔루션   -
35  36      삼성화재   -
36  37     S-Oil   -
37  38    포스코케미칼  +2
38  39      고려아연  -1
39  40    한국조선해양  -1
40  41   LG디스플레이   -
41  42    현대글로비스  +1
42  43    우리금융지주  -1
43  44    CJ제일제당   -
44  45    미래에셋대우   -
45  46      기업은행   -
46  47       빅히트  +1
47  48        KT  -1
48  49      현대제철   -
49  50      대한항공   -